.clients {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;
  row-gap: 30px;
  align-items: center;
  .list-reset();

  padding-top: 50px;
  padding-bottom: 44px;
}

.clients__item {
  position: relative;

  &:not(:nth-child(4n + 4))::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    right: -20px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: @color-gray;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  color: currentColor;
  opacity: 0.2;
  transition: opacity 0.6s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.clients__image {
  display: block;
  max-width: 260px;
}
