.page-main__slider {
  margin-bottom: 80px;
}

.page-main__offers {
  margin-bottom: 40px;
  border-bottom: 2px solid @color-gray;
}

.page-main__company {
  display: grid;
  grid-template-columns: 660px 360px;
  column-gap: 140px;
  padding-bottom: 50px;
  border-bottom: 2px solid @color-gray;
}

.page-main__clients {
  margin-bottom: 80px;
  border-bottom: 2px solid @color-gray;
}

// .page-main__catalog {
//   margin-bottom: 4px;
// }

// .page-main__content-wrapper {
//   margin-bottom: 80px;
// }
